;
; Copyright © 2021 Peter Monks
;
; This file is part of pmonks/cljig
;
; pmonks/cljig is free software: you can redistribute it and/or modify
; it under the terms of the GNU Affero General Public License as published by
; the Free Software Foundation, either version 3 of the License, or
; (at your option) any later version.
;
; pmonks/cljig is distributed in the hope that it will be useful,
; but WITHOUT ANY WARRANTY; without even the implied warranty of
; MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
; GNU Affero General Public License for more details.
;
; You should have received a copy of the GNU Affero General Public License
; along with pmonks/cljig.  If not, see <https://www.gnu.org/licenses/>.
;
; SPDX-License-Identifier: AGPL-3.0-or-later
;

{:paths ["src" "resources"]
 :deps {org.clojure/clojure               {:mvn/version "1.11.1"}
        org.clojure/tools.logging         {:mvn/version "1.2.4"}
        ch.qos.logback/logback-classic    {:mvn/version "1.2.11"}
        org.slf4j/jcl-over-slf4j          {:mvn/version "1.7.36"}
        org.slf4j/log4j-over-slf4j        {:mvn/version "1.7.36"}
        org.slf4j/jul-to-slf4j            {:mvn/version "1.7.36"}
        org.clojure/tools.deps.alpha      {:mvn/version "0.14.1178"}
;        org.clojure/tools.deps.alpha      {:git/url "https://github.com/clojure/tools.deps.alpha" :sha "02809dbd41d4fe6e269ee67316d054a04bc70678"}   ; add-lib branch - NON-FUNCTIONAL!
        org.clojure/tools.namespace       {:mvn/version "1.3.0"}
        com.github.pmonks/find-deps       {:git/sha "6977067f19f9196bd3b38aa28ced4166406ba4c3"}
        com.github.lambdaisland/classpath {:git/sha "fc85b1d7858c95d32e517fd64e5dbecd2002bb71"}}
 :aliases {
    ; clj -M:check
    :check
      {:extra-deps {com.github.athos/clj-check {:git/sha "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
       :main-opts  ["-m" "clj-check.check"]}
    ; clj -M:outdated
    :outdated
      {:extra-deps {com.github.liquidz/antq {:mvn/version "1.6.774"}}
       :main-opts ["-m" "antq.core"]}
    ; clj -M:kondo
    :kondo
      {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2022.05.31"}}
       :main-opts  ["-m" "clj-kondo.main" "--lint" "src"]}
    ; clj -M:eastwood
    :eastwood
      {:extra-deps {jonase/eastwood {:mvn/version "1.2.3"}}
       :main-opts  ["-m" "eastwood.lint" {:source-paths ["src" "resources"]}]}
    }}
